/* import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

html, body {
  height: 100%;         
  margin: 0;          
  padding: 0;           /* remove padding */
  overflow-x: hidden;   /* remove horizontal scrolling */
  overflow-y: auto;     /* add vertical scrolling */
}


::placeholder{
  font-family: 'Poppins', sans-serif;
}

/* create a scrollbar */
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #F7EC59;
}

#intro{
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align:center;
  margin-top: 10%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 5%;
  width:90%;
  font-size: 35px;
}
.navbar{
 display: flex;
 align-items: center;
 justify-content:space-between;
 padding: 10px 20px;
 margin:0;
 background-color:white;
 box-shadow:0 4px 6px rgba(0,0,0,0.1);
}

.logo{
    width:200px;
    width:200px;
}

.nav-links{
    display:flex;
    gap:80px;
    font-family: 'Poppins', sans-serif;
}

.nav-links a{
    text-decoration: none;
    font-size:16px;
    font-weight: 500;
    color: black;
    margin-left:3%;

}

.nav-links a:hover{
    color: #92DCE5;
}

.fa-user{
  margin-left:15%;
}

.fa-user:hover{
  color:#5F8594;
}
.login{
    padding: 8px 15px;
    background-color:#FF66D8;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/* when hovering the login button */
.login:hover{
    background-color:#5F8594;
}

.search-bar{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 80%;
    max-width:600px;

}



.search-bar input {
  flex: 1; /* allow the input to take up most space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.search-bar button {
  background-color: #FF66D8;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.search-bar button i {
  font-size: 16px;
}

/* when hovering the search button */
.search-bar button:hover {
  background-color: #5F8594;
}

/* images div */
.round-images {
  display: flex;             
  overflow: hidden;           
  position: relative;
  width: 100%;     
  margin-top: 5%;          
}

/* all images */
.round-images img {
  width: 200px;               
  height: 200px;              
  border-radius: 50%;         
  object-fit: cover;          
  margin-right: 20px;         
}



.festive {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: white; 
  padding: 20px; 
}

.festive h1 {
  margin-top:90px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: 'Tangerine', sans-serif;
  font-size: 80px;
  color: #5F8594; /* Font color for the heading */
  text-align: left;
}

.festive-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; 
  max-width: 1500px; 
  margin: 0 auto; 
  padding: 20px;
  background-color: white; 
  
}

.festive-grid div {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background-color: white; 
  border-radius: 8px;
  padding-bottom: 20px;
  overflow: hidden; 
}

.festive-grid div:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
}



.festive-food {
  width: 100%; 
  height: 300px; 
  object-fit: cover; 
}

.festive-food:hover{
  color:#92DCE5;
}

.festive-grid p {
  margin: 10px; 
  font-size: 20px; 
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: left; 
  color: #2B2D42; 
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px; 
  max-width: 1500px; 
  margin: 0 auto; 
  padding: 20px;
  background-color: white; 
  border-radius: 0px;
}

.recipes-grid div {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background-color: #f9f9f9; 
  border-radius: 8px;
  padding-bottom:20px;
  margin-bottom: 40px;
  overflow: hidden; 
}

.recipes-food {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
}

.recipes-grid p {
  margin: 10px; 
  font-size: 20px; 
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: left; 
  color: #2B2D42; /* Font color for the paragraph text */
}

.recipes-grid h1{
  grid-column: 1/-1;
  margin-top: 15px;
  margin-left:20px;
  margin-bottom: 10px;
  font-family: 'Tangerine', sans-serif;
  font-size: 80px;
  color: #5F8594; 
  text-align: left;
}

.recipes-grid div:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow */
}

.advice{
  display: flex;
  align-items: flex-start;
  gap:20px;
  margin: 0 auto;
  padding: 20px;
  
}
.advice .person{
  width:200px;
  height:200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top:5%;
  margin-left:15%;
}

.advice .text-content{
  display: flex;
  flex-direction: column;
}
.advice h2{
  font-family: 'Poppins', sans-serif;
  margin-top:30px;
  margin-left:15%;
  margin-bottom: 20px;
  color:#F7EC59;
  font-size: 40px;
  
}

.advice p{
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  color: white;
  width:70%;
  margin-left:15%;
}

.advice button{
  background-color: #FF66D8;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  margin-top:3%;
  margin-left:70%;
  margin-bottom: 5%;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Poppins', sans-serif;
}

.advice button:hover{
  background-color:#5F8594;
  color: white;
}


.follow-us {
  text-align: center;
  margin: 50px 0;
  padding: 20px;
  background-color: #2B2D42;
  color: white;
}

.follow-us h2 {
  font-size: 1.5rem;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 2rem;
  text-decoration: none;
}

.social-icons a:hover {
  color: #FF66D8;
}

/* follow us */
.follow-us-newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center; 
}

.follow-us-left {
  flex: 1; 
}

.follow-us-left h3 {
  font-size: 1.5rem;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex: 1; 
  background-color: #ffffff; 
}

.social-media-icons a {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  text-decoration: none;
}

.social-media-icons a:hover {
  color: #FF66D8;
}

.newsletter-right {
  flex: 1; 
}

.newsletter-right p {
  font-size: 1.2rem;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* footer */
.footer {
  background-color: #2B2D42;
  color: white;
  padding: 30px 0;
  text-align: center;
}

.footer-links {
  margin-top:20px;
  margin-bottom: 15px;
}

.footer-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1rem;
}

.footer-links a:hover {
  color: #FF66D8;
}

.footer p {
  margin-top: 15px;
  font-size: 1rem;
}

/* mobile */
@media (max-width: 768px) {
  
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .round-images {
    flex-direction: column;
    align-items: center;
  }
  .round-images img {
    margin-bottom: 10px;
  }

  .festive-grid {
    grid-template-columns: 1fr; /* Single column for mobile */
    padding: 10px;
  }
  
  .recipes-grid {
    grid-template-columns: 1fr; /* Single column for mobile */
    padding: 10px;
  }

  .advice {
    flex-direction: column;
    text-align: center;
  }
  .advice .person {
    margin: 0 auto; 
  }

  .advice-button{ 
    display: block;
    margin-left: 40%;
  }

  .follow-us-newsletter {
    flex-direction: column;
    text-align: center;
  }
  .follow-us-left, .newsletter-right {
    flex: none;
  }
  .social-media-icons {
    gap: 15px;
  }

  .social-media-icons a:hover {
    color:#FF66D8;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }
}


@media (min-width: 1025px) {
  
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-links {
    gap: 80px;
  }

  .round-images {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .festive-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for larger screens */
  }
  
  .recipes-grid {
    grid-template-columns: repeat(5, 1fr); /* 5 columns for larger screens */
  }

  .follow-us-newsletter {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links {
    gap: 25px;
  }
}